/* Стили для контейнера баннера */
.banner {
  width: 100%;
  height: 400px; /* Устанавливаем желаемую высоту баннера */
}

/* Стили для изображения */
.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Обрезка изображения без искажения */
  object-position: center; /* Показывает нижнюю часть изображения */
}
