/* Стили для навигации */
.navbar {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Фиксируем навбар */
  top: 0; /* Располагаем его вверху */
  left: 0;
  width: 100%; /* Растягиваем на всю ширину */
  z-index: 1000; /* Чтобы навбар был поверх других элементов */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень для навбара */
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px; /* Отступ между пунктами */
}

.navbar li {
  display: inline;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  /* font-weight: bold; */
  padding: 8px 15px; /* Увеличиваем padding для удобства клика */
  transition: all 0.3s ease; /* Плавный переход для всех свойств */
  display: block; /* Убедитесь, что ссылки занимают всю ширину */
  border-radius: 4px; /* Скругление углов */
}

.navbar a:hover {
  background-color: #555; /* Цвет фона при наведении */
  color: #ffd700; /* Цвет текста при наведении */
  transform: scale(1.1); /* Увеличение элемента при наведении */
}

.navbar a:focus,
.navbar a:active {
  background-color: #333; /* Сохраняем фон нажатого элемента */
  color: #fff; /* Цвет текста на активном элементе */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Легкая тень при активном элементе */
}

/* Стили для активного состояния */
.active {
  background-color: #0056b3; /* Яркий синий цвет для фона активной кнопки */
  color: #fff; /* Белый цвет текста для контраста */
  padding: 8px 15px; /* Поддерживаем одинаковый padding */
  border-radius: 4px; /* Скругление углов */
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.6); /* Легкая тень для активного пункта */
}

/* Добавление выравнивания элементов */
.navbar ul {
  display: flex;
  justify-content: center; /* Это выравнивает пункты по центру */
  align-items: center;
  margin: 0;
}
